---
title: Commits
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en""crown-molding">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <style>
      :root {
        color-scheme: light dark;
        --square-width: 10vw;
      }

      html, body {
        margin: 0; 
        padding: 0;
        background-color: var(--color);
      }

      .grid {
        display: flex;
        flex-wrap: wrap;
      }

      .pixel {
        align-items: center;
        background: var(--color);
        display: flex;
        height: var(--square-width);
        justify-content: center;
        text-decoration: none;
        width: var(--square-width);
      }
    </style>
  </head>

  <body class="grid">
    {% for commit in collections.commits %}
      <a 
        class="pixel" 
        href="/commits/{{commit.hash}}/"
        style="--color: #{{ commit.hash.substring(0, 6) }}"
        title="{{ commit.subject }}"
      >
        {{ commit.subject.split(" ")[0] }}
      </a>
      {% if loop.last %}
        <style>
          :root {
            --color: #{{commit.hash.substring(0, 6)}};
          }
        </style>
      {% endif %}
    {% endfor %}
  </body>
</html>
